@import "variables.scss";
@import "common.scss";

.intent {
  @include intent-bubble($turqois-1, $white);
  margin-left: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: $roboto;
}

