@import "variables.scss";
@import "common.scss";

.intent {
  @include intent-bubble($turqois-1, $white);
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  font-family: $roboto;
}

.intent:hover {
  transform: scale(1.02);
}

